[MASTER]
ignore-patterns=.git,
                .venv,
                __pycache__,
                build,
                dist
extension-pkg-allow-list=pygame

[FORMAT]
max-line-length=127
good-names-rgxs=^[_a-zA-Z][_a-z0-9]?$
